html {
  box-sizing: border-box;
  font-size: 62.5%;
}
.header-hero {
  color: #e8f1f2;
  font-size: 50px;
  font-weight: 400;

  text-align: left;
}

.sub-header-hero {
  color: #e8f1f2;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}

.heading {
  color: #e8f1f2;
  font-size: 40px;
  font-weight: 400;
  padding: 8rem 0rem 8rem 0rem;
  text-align: center;
}

.heading1 {
  color: #e8f1f2;
  font-size: 40px;
  font-weight: 400;
  padding: 0rem 0rem 2rem 0rem;
  text-align: center;
}

.heading2 {
  color: #e8f1f2;
  font-size: 30px;
  font-weight: 400;
  padding: 0rem 0rem 2rem 0rem;
  text-align: center;
}
.body {
  color: #e8f1f2;
  font-size: 18px;
  padding-bottom: 10px;
}

.label {
  color: #bcbcbc;
  font-size: 20px;
  font-weight: 400;
  padding: 0rem 0rem 2rem 0rem;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

/* stylelint-disable */
#__next {
  height: 100%;
}
/* styleline-enable */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
