.main {
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexContainer {
  padding: 10rem 0rem 4rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.flexContainerHeading {
  justify-items: center;
  align-items: center;
}

.image {
  margin-left: 1rem;
  align-items: center;
}
.simpleGrid {
  gap: 30px;
  justify-items: center;
  align-items: center;
}
